body {
  background-color: #f8f9fa;
  padding: 20px;
  font-family: 'Roboto', sans-serif, 'Courier New', monospace; /* Пример использования фиксированного шрифта для цифр */
 
  font-variant-numeric: lining-nums;

}

.text-blue {
  color: blue;
}


h2 {
  text-align: left;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  margin: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-top: 10px;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

input[readonly] {
  background-color: #e9ecef;
}

.active {
  background-color: #007bff;
  color: white;
}

p {
  font-size: 1.1em;
  margin: 10px 0;
}

.tree-padding {
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #dee2e6;
}

th {
  background-color: #979797;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.button-group {
  text-align: center;
  margin-bottom: 20px;
}

.button-group-left {
  text-align: left;
  margin-bottom: 20px;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}